# What is pandas-python?

In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Pandas is python module that makes data science easy and effective

## Installation
pip install pandas

# 1. Getting Familiar with Dataframe

In [84]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/content/pandas/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [85]:
# or by using the list of tuples
weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [86]:
# the attribute shape returns the dimension of table
df.shape

(6, 4)

In [87]:
# To see the first 5 rows
df.head()
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [88]:
# To see the last 5 rows
df.tail()
# To see the last 3 rows
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [89]:
# Slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [90]:
#print columns name
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [91]:
#print a particular column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [92]:
# other way of printing the particular column
df["day"]

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [93]:
# get 2 or more columns
df[['day','windspeed']]

        day  windspeed
0  1/1/2017          6
1  1/2/2017          7
2  1/3/2017          2
3  1/4/2017          7
4  1/5/2017          4
5  1/6/2017          2

In [94]:
#print the max temperature
df['temperature'].max()

35

In [95]:
# Print the min temperature
df['temperature'].min()

24

In [96]:
# Description of a particulare column
df['temperature'].describe()
# Description of whole table
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [97]:
# Select Rows which has max temperature Similar to sleelct statement in SQL
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [98]:
# Select only day when the temperature is max
df.day[df.temperature==df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

***********************************************************************************************************************************

# 2. Write DF to csv

In [99]:
# df.to_csv('new.csv') 
# df.to_csv('new_noIndex.csv', index=False)

# 3.Group-By

In [100]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/content/pandas/weather_data_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [101]:
g=df.groupby('city')
g

In [102]:
for city,city_df in g:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [103]:
# To get a specific group
g.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [104]:
g.max()

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [105]:
g.mean()

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [106]:
g.describe()

         temperature                         ... windspeed
               count   mean       std   min  ...       25%   50%    75%   max
city                                         ...
mumbai           4.0  88.50  3.109126  85.0  ...      5.00   8.5  12.75  15.0
new york         4.0  32.25  3.304038  28.0  ...      6.75   7.0   8.25  12.0
paris            4.0  47.75  5.315073  42.0  ...      9.50  11.5  14.75  20.0

[3 rows x 16 columns]

In [107]:
# To get the sum of a particular column
g['windspeed'].sum()

city
mumbai      37
new york    32
paris       51
Name: windspeed, dtype: int64

# 4. Concatenate Data Frames

In [108]:
import pandas as pd
india_weather = pd.DataFrame({
    "city":["mumbai","delhi","bangalore"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
})
india_weather

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [109]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [110]:
df = pd.concat([india_weather, us_weather])
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75

In [111]:
# if continious index is a requirement
df = pd.concat([india_weather, us_weather],ignore_index=True)
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75

In [112]:
# 0 by default
df=pd.concat([india_weather,us_weather],axis=1) 
df

        city  temperature  humidity      city  temperature  humidity
0     mumbai           32        80  new york           21        68
1      delhi           45        60   chicago           14        65
2  bangalore           30        78   orlando           35        75

# 5. Merge Dataframes

In [113]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore", 'hyderabad'],
    "temperature": [32,45,30,40]})
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2   banglore           30
3  hyderabad           40

In [114]:
humidity_df = pd.DataFrame({
    "city":["delhi","mumbai","banglore"],
    "humidity":[68,65,75]
})
humidity_df

       city  humidity
0     delhi        68
1    mumbai        65
2  banglore        75

In [115]:
df=pd.merge(temperature_df, humidity_df,on='city')
df

       city  temperature  humidity
0    mumbai           32        65
1     delhi           45        68
2  banglore           30        75

In [116]:
df=pd.merge(temperature_df, humidity_df,on='city',how="outer")
df

        city  temperature  humidity
0     mumbai           32      65.0
1      delhi           45      68.0
2   banglore           30      75.0
3  hyderabad           40       NaN

# 6. Numerical Indexing (.loc vs .iloc)

In [117]:
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, 1, 2, 3, 4, 5])
df

     0
49   1
48   2
47   3
46   4
45   5
1    6
2    7
3    8
4    9
5   19

In [118]:
df.loc[:2]

    0
49  1
48  2
47  3
46  4
45  5
1   6
2   7

In [119]:
df.iloc[:2]

    0
49  1
48  2

In [120]:
df.loc[45]

0    5
Name: 45, dtype: int64

In [121]:
df.iloc[45]

IndexError: ignored