In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('pokemon_data.csv')

# df = pd.read_excel('pokemon_data.xlsx')
# df = pd.read_csv('pokemon_data.csv', delimiter='\t')

In [ ]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [ ]:
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

In [ ]:
df.tail()

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [ ]:
df.tail(4)

       #                 Name   Type 1  ... Speed  Generation  Legendary
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[4 rows x 12 columns]

In [ ]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
# df.Name
# df.Name.head()
# df.Name[:8]
df['Sp. Def'][:7]

0     65
1     80
2    100
3    120
4     50
5     65
6     85
Name: Sp. Def, dtype: int64

In [ ]:
df[['Name', 'Type 1']][:5]

                    Name Type 1
0              Bulbasaur  Grass
1                Ivysaur  Grass
2               Venusaur  Grass
3  VenusaurMega Venusaur  Grass
4             Charmander   Fire

In [ ]:
# integer_location

# df.iloc[3] # 4th row
# df.iloc[1:4] # Slicing of rows
# df.iloc[2,1]

# # iterate over rows
# for index, row in df.iterrows():
#    print(index, '\n', row)
#    print('\n')

In [ ]:
# 
# df.loc[2, 'Name']

df.loc[df['Type 1'] == 'Psychic', ['Name', 'Type 1']]

                        Name   Type 1
68                      Abra  Psychic
69                   Kadabra  Psychic
70                  Alakazam  Psychic
71     AlakazamMega Alakazam  Psychic
104                  Drowzee  Psychic
105                    Hypno  Psychic
131                 Mr. Mime  Psychic
162                   Mewtwo  Psychic
163      MewtwoMega Mewtwo X  Psychic
164      MewtwoMega Mewtwo Y  Psychic
165                      Mew  Psychic
191                     Natu  Psychic
192                     Xatu  Psychic
211                   Espeon  Psychic
216                    Unown  Psychic
217                Wobbuffet  Psychic
269                    Lugia  Psychic
271                   Celebi  Psychic
303                    Ralts  Psychic
304                   Kirlia  Psychic
305                Gardevoir  Psychic
306  GardevoirMega Gardevoir  Psychic
356                   Spoink  Psychic
357                  Grumpig  Psychic
391                 Chimecho  Psychic
394                   Wynaut  Psychic
428       DeoxysNormal Forme  Psychic
429       DeoxysAttack Forme  Psychic
430      DeoxysDefense Forme  Psychic
431        DeoxysSpeed Forme  Psychic
481                Chingling  Psychic
487                 Mime Jr.  Psychic
526                  Gallade  Psychic
527      GalladeMega Gallade  Psychic
537                     Uxie  Psychic
538                  Mesprit  Psychic
539                    Azelf  Psychic
546                Cresselia  Psychic
553                  Victini  Psychic
576                    Munna  Psychic
577                 Musharna  Psychic
586                   Woobat  Psychic
587                  Swoobat  Psychic
622                 Sigilyph  Psychic
635                  Gothita  Psychic
636                Gothorita  Psychic
637               Gothitelle  Psychic
638                  Solosis  Psychic
639                  Duosion  Psychic
640                Reuniclus  Psychic
666                   Elgyem  Psychic
667                 Beheeyem  Psychic
745                   Espurr  Psychic
746             MeowsticMale  Psychic
747           MeowsticFemale  Psychic
797      HoopaHoopa Confined  Psychic
798       HoopaHoopa Unbound  Psychic

# Statistical

In [ ]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [ ]:
# df.sort_values('Name', ascending=False)
# df.sort_values(['Type 1', 'Attack'], ascending=False)
df.sort_values(['Type 1', 'Attack'], ascending = [False, True])

       #                     Name Type 1  ... Speed  Generation  Legendary
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False
198  183                   Marill  Water  ...    40           2      False
508  458                  Mantyke  Water  ...    50           4      False
293  270                    Lotad  Water  ...    30           3      False
..   ...                      ...    ...  ...   ...         ...        ...
650  589               Escavalier    Bug  ...    20           5      False
19    15    BeedrillMega Beedrill    Bug  ...   145           1      False
229  212        ScizorMega Scizor    Bug  ...    75           2      False
137  127        PinsirMega Pinsir    Bug  ...   105           1      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False

[800 rows x 12 columns]

# Make changes to data

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df = df.drop(columns = ['Total'])
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

In [ ]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head(3)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1  Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2    Ivysaur  Grass  Poison  ...     60           1      False    405
2  3   Venusaur  Grass  Poison  ...     80           1      False    525

[3 rows x 13 columns]

# Saving data to CSV

In [ ]:
#  df.to_csv('modified_pokemon_data.csv', index=False)
# df.to_csv('modified_pokemon_data_txt.txt', index=False, sep='\t')
# df.to_excel('modified_pokemon_data_xl.xlsx', index=False)

In [ ]:
# df2 = pd.read_csv('modified_pokemon_data.csv')
# df2.head()

# df2 = pd.read_excel('modified_pokemon_data_xl.xlsx')
# df2.head()

   #                   Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2                Ivysaur  Grass  Poison  ...     60           1      False    405
2  3               Venusaur  Grass  Poison  ...     80           1      False    525
3  3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False    625
4  4             Charmander   Fire     NaN  ...     65           1      False    309

[5 rows x 13 columns]

# filtering data

In [ ]:
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]
# inside pandas we use &, | rather than and, or

new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

# new_df = new_df.reset_index() # This will retain original indices as well
# new_df = new_df.reset_index(drop = True) # This will drop the original indices
new_df.reset_index(drop = True, inplace=True) # This will drop the original indices

new_df.head(3)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1  Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2    Ivysaur  Grass  Poison  ...     60           1      False    405
2  3   Venusaur  Grass  Poison  ...     80           1      False    525

[3 rows x 13 columns]

In [ ]:
 df.loc[df['Name'].str.contains('Mega')]

#  df.loc[~df['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Generation  Legendary  Total
3      3      VenusaurMega Venusaur     Grass  ...          1      False    625
7      6  CharizardMega Charizard X      Fire  ...          1      False    634
8      6  CharizardMega Charizard Y      Fire  ...          1      False    634
12     9    BlastoiseMega Blastoise     Water  ...          1      False    630
19    15      BeedrillMega Beedrill       Bug  ...          1      False    495
23    18        PidgeotMega Pidgeot    Normal  ...          1      False    579
71    65      AlakazamMega Alakazam   Psychic  ...          1      False    590
87    80        SlowbroMega Slowbro     Water  ...          1      False    590
102   94          GengarMega Gengar     Ghost  ...          1      False    600
124  115  KangaskhanMega Kangaskhan    Normal  ...          1      False    590
137  127          PinsirMega Pinsir       Bug  ...          1      False    600
141  130      GyaradosMega Gyarados     Water  ...          1      False    640
154  142  AerodactylMega Aerodactyl      Rock  ...          1      False    615
163  150        MewtwoMega Mewtwo X   Psychic  ...          1       True    780
164  150        MewtwoMega Mewtwo Y   Psychic  ...          1       True    780
168  154                   Meganium     Grass  ...          2      False    525
196  181      AmpharosMega Ampharos  Electric  ...          2      False    610
224  208        SteelixMega Steelix     Steel  ...          2      False    610
229  212          ScizorMega Scizor       Bug  ...          2      False    600
232  214    HeracrossMega Heracross       Bug  ...          2      False    600
248  229      HoundoomMega Houndoom      Dark  ...          2      False    600
268  248    TyranitarMega Tyranitar      Rock  ...          2      False    700
275  254      SceptileMega Sceptile     Grass  ...          3      False    630
279  257      BlazikenMega Blaziken      Fire  ...          3      False    630
283  260      SwampertMega Swampert     Water  ...          3      False    635
306  282    GardevoirMega Gardevoir   Psychic  ...          3      False    618
327  302        SableyeMega Sableye      Dark  ...          3      False    480
329  303          MawileMega Mawile     Steel  ...          3      False    480
333  306          AggronMega Aggron     Steel  ...          3      False    630
336  308      MedichamMega Medicham  Fighting  ...          3      False    510
339  310    ManectricMega Manectric  Electric  ...          3      False    575
349  319      SharpedoMega Sharpedo     Water  ...          3      False    560
354  323      CameruptMega Camerupt      Fire  ...          3      False    560
366  334        AltariaMega Altaria    Dragon  ...          3      False    590
387  354        BanetteMega Banette     Ghost  ...          3      False    555
393  359            AbsolMega Absol      Dark  ...          3      False    565
397  362          GlalieMega Glalie       Ice  ...          3      False    580
409  373    SalamenceMega Salamence    Dragon  ...          3      False    700
413  376    MetagrossMega Metagross     Steel  ...          3      False    700
418  380          LatiasMega Latias    Dragon  ...          3       True    700
420  381          LatiosMega Latios    Dragon  ...          3       True    700
426  384      RayquazaMega Rayquaza    Dragon  ...          3       True    780
476  428        LopunnyMega Lopunny    Normal  ...          4      False    580
494  445      GarchompMega Garchomp    Dragon  ...          4      False    700
498  448        LucarioMega Lucario  Fighting  ...          4      False    625
511  460    AbomasnowMega Abomasnow     Grass  ...          4      False    594
527  475        GalladeMega Gallade   Psychic  ...          4      False    618
591  531          AudinoMega Audino    Normal  ...          5      False    545
796  719        DiancieMega Diancie      Rock  ...          6       True    700

[49 rows x 13 columns]

In [ ]:
# df.loc[df['Type 1']=='Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1']=='Fire', 'Type 1'] = 'Flamer'

df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander   Flamer  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion   Flamer  ...          6       True    600

[800 rows x 13 columns]

In [ ]:
# df.groupby('Type 1')
# df.head(12)

# 
# df.groupby('Type 1').mean().sort_values('Defense')

# 
# df.groupby('Type 1').count()

# 
df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [ ]:
dict = {'name': ['abs', 'bfb', 'hjh'], 'gender': ['f', 'm', 'f']}
print(dict)

{'name': ['abs', 'bfb', 'hjh'], 'gender': ['f', 'm', 'f']}

In [ ]:
df = pd.DataFrame(dict)
df

  name gender
0  abs      f
1  bfb      m
2  hjh      f

In [ ]:
data = pd.DataFrame({'name': ['a','b','c'], 'gender': ['m', 'f','f']})
data

  name gender
0    a      m
1    b      f
2    c      f

In [ ]:
data.iloc[:2, :]

  name gender
0    a      m
1    b      f